    <div class="history_block">
        <div class="hike_name">
            {{ history.num_hike.name}}
        </div>
        <div class="hike_date">
            {{ history.date }}
        </div>
        <form method="POST" action="delete_history" onsubmit="return confirm('Are you sure you want to delete this hike?');">
                {% csrf_token %}
            <input type="hidden" name='delete' value={{history.id}}>
            <input type="submit" value="Supprimer">
        </form>

    </div>