{% load static %}

<div id="sidebar">
    <img id="poulpy" src="{% static 'ceresia/img/ceresia_white.png' %}" alt="">
    <div id="nav">
        <a href="/historique">
            <div class="{% if request.resolver_match.url_name == 'history' %}active{% endif %} nav_button"><p>Historique</p></div>
        </a>
        <a href="parcours">
            <div id="nav_button_middle" class="{% if request.resolver_match.url_name == 'hikes' %}active{% endif %} nav_button"><p>Parcours</p></div>
        </a>
        <a href="cerescope">
            <div class="{% if request.resolver_match.url_name == 'cerescope' %}active{% endif %} nav_button"><p>Cerescope</p></div>
        </a>
        <a href="succes">
            <div class="{% if request.resolver_match.url_name == 'achievements' %}active{% endif %} nav_button"><p>Succès</p></div>
        </a>
    </div>
</div>