{% extends "ceresia/base.html" %}

{% load static %}
<head>
    <meta charset="UTF-8">
    {% block title %}
         <title>Cerescope</title>
    {% endblock %}
</head>
{% block content %}

{%include "ceresia/components/header.html" %}
<form method="get" id="hike_search">
   {{species_filter.form}}
</form>
<div id="cerescope_container">

    {% for animal in species %}
      {%include "ceresia/components/animal_card.html" with animal=animal %}
    {% empty %}
        <p>Sorry, no species to show.</p>
    {% endfor %}
</div>

{% endblock %}
